################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/OrionBanque/v15
/OrionBanque/bin
/OrionBanque/publish
/OrionBanque/obj
/Make_Setup_OrionBanque/tmp
/Make_Setup_OrionBanque/out