<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Krypton.Components.Suite" version="4.5.9" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Microsoft.Chart.Controls" version="4.7.2046" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.2" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.2" targetFramework="net462" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.2" targetFramework="net462" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.2" targetFramework="net462" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.2" targetFramework="net462" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net462" />
  <package id="ShaNetCore" version="1.0.0" targetFramework="net462" />
  <package id="ShaNetDate" version="1.0.0" targetFramework="net462" />
  <package id="ShaNetHoliday.Core" version="1.0.1" targetFramework="net462" />
  <package id="ShaNetHoliday.Countries" version="1.0.1" targetFramework="net462" />
  <package id="ShaNetHoliday.Engine" version="1.0.1" targetFramework="net462" />
  <package id="ShaNetHoliday.Engine.Standard" version="1.0.1" targetFramework="net462" />
  <package id="ShaNetHoliday.Models" version="1.0.1" targetFramework="net462" />
  <package id="ShaNetHoliday.Syntax" version="1.0.1" targetFramework="net462" />
  <package id="ShaNetRegex" version="1.0.0" targetFramework="net462" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net462" />
</packages>